<h3>Все сотрудники:</h3>
{{#each staffCollection as |staff|}}
  <p>
    First Name: {{staff.firstname}}<br>
    ID: {{staff.id}}<br>
    <button {{action "handleRemoveStaff" staff.id}}>Remove Staff</button>
  </p>
{{/each}}


{{yield}}
